.ios
    .schedule
        .week_tabs
            .tab-active
                .toolbar
                    .toolbar-inner
                        box-sizing content-box

                @media (min-width 640px)
                    .tabs-content
                        margin-left 0px !important

    .navbar
        .navbar-inner
            overflow hidden

    .NewsHome_cont, .NewsBusqueda_cont
        .content
            .title, .autor
                overflow visible !important
                transition unset

    .photo-browser-page .navbar
        .popup-close
            justify-content flex-end
            padding-right 0px

        .title
            padding-left 10px

    .contacto_panel, .calca_panel
        .input
            &.input-invalid
                margin-bottom 5px !important

            .input-clear-button
                &:after
                    font-size 10px !important
                    line-height 1 !important
                    height 10px
                    width 10px
                    transform translate(-5px, -50%)

    .page-content
        overflow-x hidden

    .footer
        .logo
            position relative !important
            order 3 !important
            width 45% !important
            display flex !important
            margin-top 20px !important

            img
                position relative !important
                top 0 !important
                left 0 !important
                width 100% !important
                margin 0px !important
                object-fit cover !important