.card.tv
    margin-top 0px
    padding 16px 12px
    margin-bottom 0px

    .header_cont
        padding 0px
        margin-bottom 30px

        .card-header
            padding 0px

            h1
                margin 0px
                padding 0px
                font font_12
                color grey_d_3
                text-transform capitalize

            .icon
                display none
                color red

            &:after
                content none

        .share
            padding 0px 8px

            p
                font font_22
                text-transform capitalize
                color #000
                margin 0px

            a
                padding-left 5px
                width 25px
                height 25px

                img
                    width 100%
                    height 100%

    .middle-cont
        display flex
        flex-direction column
        align-items flex-start
        padding 0px
        margin 0px

        .program-name
            padding 0px
            margin 0px

            h2
                font font_5
                text-align left
                padding 0px
                margin 0px
                margin-bottom 10px
                text-transform capitalize
                color grey_d

        .player-wrapper
            position relative
            height 100%
            margin-left -12px
            width calc(100% + 24px)
            padding 0
            padding-top calc(780 / 1280 * 100%) // aspect radio

            .player-in-page
                position absolute
                top 0
                left 0
                width 100% !important
                height 100% !important

            // .icon
            //     z-index 2
            //     position absolute
            //     font-size 90px
            //     color #d0d0d0
            //     top 50%
            //     left 50%
            //     transform translate(-50%, -50%)

            //     &.play_arrow
            //         opacity 0.6

            //     &.pause
            //         opacity 0
            //         transition opacity 0.3s ease-in-out 0.3s

        .programa-desc
            font font_6
            color #303030
            text-align left
            margin 15px 0px 20px 0px
            padding 0px

        .pip_Btn
            margin-left: auto;
            color: red;
            margin-top: -25px;
            z-index: 1;
            margin-right: 5px;

    .tabla_programacion
        no-mar-no-pad()
        margin-bottom 20px

        .block-header
            margin 0px 0px 10px 0px
            font font_3
            text-transform capitalize
            color grey_d

    .mas_canales
        no-mar-no-pad()
        margin-bottom 0px

        .block-header
            margin 15px 0px
            margin-top 0px
            font font_5
            text-transform capitalize
            color grey_d

        .canal
            padding 0px
            margin-bottom 15px

            .icon_tv
                position absolute
                top 0
                left 0
                width 40px
                height 40px
                background red_2
                border-radius 4px
                overflow hidden

                img
                    width 20px
                    height 20px

                &:before
                    content ''
                    position absolute
                    bottom 0
                    right 0
                    width 60px
                    height 60px
                    background red
                    transform rotate(45deg)
                    z-index -1

            .canal_content
                width 100%
                left 0
                padding 12px 0px 0px 12px
                display flex
                flex-direction column
                box-sizing border-box
                align-items flex-start
                justify-content center

                .image_cont
                    position relative
                    height 100%
                    width auto

                    &:after
                        content ''
                        display block
                        padding-top calc(125 / 314 * 100%)

                    img
                        position absolute
                        top 0px
                        left 0px
                        padding 0px
                        width 100%
                        height 100%
                        object-fit cover
                        margin 0px
                        border-radius 6px

                .title
                    position relative
                    padding 0px
                    padding-left 5px
                    font font_10
                    margin 0px
                    margin-top 5px
                    text-transform capitalize
                    color #000
                    // text-shadow 0px 0px 4px rgba(0, 0, 0, 0.8)

    @media (min-width 640px)
        padding 20px 10px

        .header_cont
            margin-bottom 20px

            .share
                padding 0px 8px

        .middle-cont
            .program-name
                order 1

                h2
                    margin-top 14px
                    margin-bottom 7px

            .player-wrapper
                order 0
                margin-left 0px
                width 100%
                padding-top calc(270 / 480 * 100%)

                .icon
                    font-size 120px

            .programa-desc
                order 2
                margin 0px
                font font_8
                margin-bottom 25px

        .mas_canales
            display grid
            grid-template-columns 1fr 1fr
            grid-column-gap 5px

            .block-header
                grid-column 1 / 3

            .canal
                width 100%

                .canal_content
                    .image_cont
                        &:after
                            padding-top calc(200 / 325 * 100%)

                    .title
                        padding-left 15px
                        font font_7

    @media (min-width 1024px)
        padding 20px 18px

        .header_cont
            .card-header
                .icon
                    display block !important

        .middle-cont
            .programa-desc
                font font_10

        .mas_canales
            display block
            width 80%

            .canal
                width 100%

                .canal_content
                    .image_cont
                        &:after
                            padding-top calc(182 / 410 * 100%)

                    .title
                        position absolute
                        bottom 10px
                        left 15px
                        padding-left 15px
                        font font_12
                        color white
                        text-shadow 0px 0px 4px rgba(0, 0, 0, 0.8)
