font_1 = normal normal 16px\/18px Roboto
font_2 = normal bold 14px\/16px Roboto
font_3 = normal 500 14px\/16px Roboto
font_4 = normal 300 12px\/14px Roboto
font_5 = normal 500 16px\/18px Roboto
font_6 = normal normal 10px\/12px Roboto
font_7 = normal bold 16px\/18px Roboto
font_8 = normal normal 12px\/14px Roboto
font_9 = normal bold 26px\/28px Roboto 
font_10 = normal normal 14px\/16px Roboto
font_r = normal normal 96px\/96px Redressed