font_1 = normal normal 16px\/18px Roboto
font_2 = normal bold 14px\/16px Roboto
font_3 = normal 500 14px\/16px Roboto
font_4 = normal 300 12px\/14px Roboto
font_5 = normal 500 16px\/18px Roboto
font_6 = normal normal 10px\/12px Roboto
font_7 = normal bold 16px\/18px Roboto
font_8 = normal normal 12px\/14px Roboto
font_9 = normal bold 26px\/28px Roboto 
font_10 = normal normal 14px\/16px Roboto
font_11 = normal 900 18px\/20px Roboto
font_12 = normal bold 24px\/26px Roboto
font_13 = normal 500 18px\/20px Roboto
font_14 = normal bold 12px\/14px Roboto
font_15 = normal bold 10px\/12px Roboto
font_16 = normal bold 18px\/20px Roboto
font_17 = normal 900 72px\/84px Roboto
font_18 = normal 900 24px\/28px Roboto
font_19 = normal 900 48px\/56px Roboto
font_20 = normal bold 20px\/22px Roboto
font_21 = normal bold 22px\/24px Roboto
font_22 = normal 500 10px\/12px Roboto
font_23 = normal 500 12px\/14px Roboto
font_24 = normal 900 12px\/22px Roboto
font_25 = normal bold 36px\/42px Roboto
font_r = normal normal 96px\/96px Redressed