.card.radio_center_card
    margin-top 0px
    padding 16px 12px
    margin-bottom 0px

    .header_cont
        padding 0px
        margin-bottom 30px

        .card-header
            padding 0px

            h1
                margin 0px
                padding 0px
                font font_12
                color grey_d_3
                text-transform capitalize

            .icon
                display none
                color red

            &:after
                content none

        .share
            padding 0px 8px

            p
                font font_22
                text-transform capitalize
                color #000
                margin 0px

            a
                padding-left 5px
                width 25px
                height 25px

                img
                    width 100%
                    height 100%

    .tabla_programacion
        no-mar-no-pad()
        margin-bottom 20px

        .block-header
            margin 0px 0px 10px 0px
            font font_3
            text-transform capitalize
            color grey_d

    .mas_canales
        no-mar-no-pad()
        margin-bottom 0px

        .block-header
            margin 15px 0px
            margin-top 0px
            font font_5
            text-transform capitalize
            color grey_d

        .canal
            padding 0px
            margin-bottom 15px

            .icon_tv
                position absolute
                top 0
                left 0
                width 40px
                height 40px
                background red_2
                border-radius 4px
                overflow hidden

                img
                    width 20px
                    height 20px

                &:before
                    content ''
                    position absolute
                    bottom 0
                    right 0
                    width 60px
                    height 60px
                    background red
                    transform rotate(45deg)
                    z-index -1

            .canal_content
                width 100%
                left 0
                padding 12px 0px 0px 12px
                display flex
                flex-direction column
                box-sizing border-box
                align-items flex-start
                justify-content center

                .image_cont
                    position relative
                    height 100%
                    width 100%

                    &:after
                        content ''
                        display block
                        padding-top calc(125 / 314 * 100%)

                    img
                        position absolute
                        top 0px
                        left 0px
                        padding 0px
                        width 100%
                        height 100%
                        object-fit cover
                        margin 0px
                        border-radius 6px

                .title
                    position absolute
                    padding 0px
                    padding-left 5px
                    font font_10
                    margin 0px
                    margin-top 5px
                    text-transform capitalize
                    color #000
                    // bottom 0px
                    // left 15px
                    // margin-left 15px
                    // margin-bottom 15px
                    // color white
                    // text-shadow 0px 0px 4px rgba(0, 0, 0, 0.8)

    .radio-wrapper
        margin 15px 0px
        position relative
        height 100%
        width 100%
        padding 0

        &:after
            content ''
            display block
            padding-top calc(240 / 1140 * 100%) // aspect radio

        .radio-ui-mobile
            display flex
            flex-direction column
            justify-content center
            align-items center

            .logo-radio
                position relative
                width 70%
                padding 0px

                &:after
                    content ''
                    display block
                    padding-top calc(189 / 236 * 100%)

                img
                    position absolute
                    top 0px
                    left 0px
                    width 100%
                    height 100%
                    object-fit cover
                    border-radius 6px

            .title
                margin 12px 0px
                width 100%
                color #2d2d2d
                font font_23
                text-align center
                text-transform capitalize

            .range-slider
                --f7-theme-color red

            .play_pause_button
                width 45px
                height 45px
                border-radius 50%
                background red
                display flex
                justify-content center
                align-items center

                .icon
                    font-size 25px
                    color white

            /* .title
            .range-slider
            .play_pause_button */

        .radio-ui
            display none !important
            position absolute
            top 0
            left 0
            width 100% !important
            height 100% !important
            padding 0px

            .top-wrapper
                padding 0px
                width 100%
                height calc(100% - 25%)

                .logo-radio
                    padding 0px
                    width 30%
                    height 100%

                    img
                        border-radius 8px 8px 0px 0px
                        width 100%
                        height 100%
                        object-fit cover

                    &:after
                        content ''
                        position absolute
                        bottom 0
                        right 0
                        width 25px
                        height 45px
                        background-image url('../static/icons/microphone_black.png')
                        background-position center
                        background-repeat no-repeat
                        background-size contain
                        transform translateX(50%)

                .content-radio
                    width 70%
                    height 100%
                    padding 11px 22px
                    border-bottom 3px solid red
                    z-index 0

                    .title
                        margin 0px
                        font font_16
                        text-transform capitalize
                        color #323232

                    .text
                        font font_8
                        text-transform capitalize
                        color #5B5B5B
                        margin 0px
                        margin-top 5px
                        display -webkit-box
                        -webkit-line-clamp 4
                        -webkit-box-orient vertical
                        overflow hidden

            .controls-wrapper
                width 100%
                height 25%
                background #E4E4E4

                .controls
                    a
                        margin auto 7.5px

                        .icon
                            font-size 28px
                            color #2D2D2D

                    .range-slider
                        margin-left -2.5px
                        width 70px
                        --f7-theme-color #545454

            .logo-RCG
                position absolute
                left 0px
                bottom 0px
                width 17%
                height 45%
                padding 6px

                img
                    width 100%
                    height 100%
                    object-fit content

    @media (min-width 640px)
        padding 20px 10px

        .header_cont
            margin-bottom 20px

            .share
                padding 0px 8px

        .mas_canales
            display grid
            grid-template-columns 1fr 1fr
            grid-column-gap 5px

            .block-header
                grid-column 1 / 3

            .canal
                width 100%

                .canal_content
                    .image_cont
                        &:after
                            padding-top calc(200 / 325 * 100%)

                    .title
                        padding-left 15px
                        font font_7

        .radio-wrapper
            .radio-ui-mobile
                display none

            .radio-ui
                display flex !important

    @media (min-width 1024px)
        padding 20px 18px

        .header_cont
            .card-header
                .icon
                    display block !important

        .mas_canales
            display block
            width 80%

            .canal
                width 100%

                .canal_content
                    .image_cont
                        &:after
                            padding-top calc(182 / 410 * 100%)

                    .title
                        position absolute
                        bottom 10px
                        left 15px
                        padding-left 15px
                        font font_12
                        color white
                        text-shadow 0px 0px 4px rgba(0, 0, 0, 0.8)
