.card.articulo
    width 100%
    margin 0px
    padding 10px
    box-sizing border-box

    .header_cont
        padding 0px
        padding-top 5px

        .card-header
            padding 0px
            min-height unset !important

            a
                padding 0px
                font font_2
                text-transform capitalize
                color #303030

            &:after
                content none

        .share
            padding 0px

            p
                font font_22
                text-transform capitalize
                color #000
                margin 0px

            a
                padding-left 5px
                width 20px
                height 20px

                img
                    width 100%
                    height 100%

    .title_cont
        padding 0px

        .head
            padding 0px
            margin 10px 0px
            font font_6
            color #979797
            text-transform capitalize

            p
                margin 0px

            .autor
                color red
                padding-right 5px

            .fecha
                padding-left 5px

        .titulo
            padding 0px
            font font_12
            text-transform capitalize
            color #242424
            white-space normal

        .img_cont
            margin 10px 0px
            padding 0px
            width 100%
            position relative

            img
                position absolute
                top 0
                left 0
                height 100%
                width 100%
                object-fit cover
                border-radius 6px

            &:after
                content ''
                display block
                padding-top calc(271 / 326 * 100%)

    .content
        margin 0px
        padding 10px 0px

        .right_side
            display none
            padding 0px
            width fit-content

            .ads
                border-radius 8px
                margin-bottom 20px

        .left_side
            padding 0px 5px

            .articulo_cont
                padding 0px
                display flex
                flex-direction column

                .child
                    &:nth-child(1)
                        order 0

                    &:nth-child(2)
                        order 1

                    &:nth-child(3)
                        order 2

                    &:nth-child(4)
                        order 4

                    &:nth-child(5)
                        order 5

                    &:nth-child(6)
                        order 6

                    &:nth-child(n+7)
                        order 8

                    &:nth-last-child(2)
                        order 3 !important

                    &:nth-last-child(1)
                        order 7 !important

                .ads.side
                    position relative
                    width 90%
                    margin 8px auto
                    border-radius 6px

                    &:after
                        content ''
                        display block
                        padding-top calc(300 / 200 * 90%)

            .tags
                padding 0px
                text-transform capitalize
                margin-bottom 30px

                p
                    color black
                    font font_8
                    font-weight 500
                    margin 0px
                    line-height 20px
                    padding-right 10px
                    white-space nowrap

                a
                    font font_8
                    line-height 20px
                    color red
                    padding-right 10px

            .comments
                width 100%
                height fit-content

            .share
                padding 10px 0px
                border-top 0.3px solid #D5D5D5
                border-bottom 0.3px solid #D5D5D5

                p
                    font font_3
                    text-transform capitalize
                    color #444444
                    margin 0px

                a
                    padding-left 5px
                    width 25px
                    height 25px

                    img
                        width 100%
                        height 100%

    .comments.tab
        display none
        width 100%
        height fit-content

    .share.tab
        display none !important
        padding 10px 0px
        border-top 0.3px solid #D5D5D5
        border-bottom 0.3px solid #D5D5D5

        p
            font font_3
            text-transform capitalize
            color #444444
            margin 0px

        a
            padding-left 5px
            width 25px
            height 25px

            img
                width 100%
                height 100%

    .ads_cont
        width 100%
        padding 0px
        margin-left -15px
        margin-right -15px

        .ads.bar
            border-radius 4px
            margin-left auto
            margin-right auto

    .recomendados
        margin-top 40px

    @media (min-width 640px)
        .title_cont
            .img_cont
                margin-top 5px

                &:after
                    padding-top calc(271 / 665 * 100%)

        .content
            .right_side
                display block
                padding 0px 12px

            .left_side
                padding 0px 10px

                .articulo_cont

                    .child
                        order 0px

                        &.ads
                            display none !important
                .comments
                    display none

                .share
                    display none !important

        .comments.tab
            display block

        .share.tab
            display flex !important

    @media (min-width 1024px)
        .title_cont
            .head
                .autor
                    font-weight 500

            .img_cont
                &:after
                    padding-top calc(271 / 575 * 100%)