.card.articulo
    width 100%
    margin 0px
    padding 10px
    box-sizing border-box

    .header_cont
        padding 0px
        padding-top 5px

        .card-header
            padding 0px
            min-height unset !important

            a
                padding 0px
                font font_2
                text-transform capitalize
                color #303030

            &:after
                content none

        .share
            padding 0px

            p
                font font_22
                text-transform capitalize
                color #000
                margin 0px

            a
                padding-left 5px
                width 20px
                height 20px

                img
                    width 100%

    .title_cont
        padding 0px

        .head
            padding 0px
            margin 10px 0px
            font font_6
            color #979797
            text-transform capitalize

            p
                margin 0px

            .autor
                color red
                padding-right 5px

            .fecha
                padding-left 5px

        .titulo
            padding 0px
            font font_12
            text-transform capitalize
            color #242424
            white-space normal

        .img_cont
            margin 10px 0px
            padding 0px
            width 100%
            position relative

            img
                position absolute
                top 0
                left 0
                height 100%
                width 100%
                object-fit cover
                border-radius 6px

            &:after
                content ''
                display block
                padding-top calc(271 / 326 * 100%)

    .content
        margin 0px
        padding 10px 0px

        .right_side
            display none
            padding 0px
            width fit-content

            .ads
                border-radius 8px
                margin-bottom 20px

        .left_side
            padding 0px 5px

            .articulo_cont
                padding 0px

                /* p
                    margin-top 0px
                    margin-bottom 20px
                    padding 0px
                    font font_8
                    line-height 16px
                    text-align justify
                    text-transform capitalize
                    color black

                .quotes
                    width 100%
                    height 200px
                    background #FA565D
                    margin-bottom 20px

                    &:after
                        content '\201C'
                        position absolute
                        margin-left 25px
                        margin-right 25px
                        font font_r
                        color white
                        top 0
                        left 0
                        margin-top 15px

                    &:before
                        content '\201D'
                        position absolute
                        margin-left 25px
                        margin-right 25px
                        font font_r
                        color white
                        bottom 0px
                        right 0px
                        margin-bottom -38px

                    .text
                        font_mix(normal, 18px, 20px)
                        color white
                        text-transform capitalize
                        text-align center
                        margin 0px 25px
                        width 100% */

            .tags
                padding 0px
                font font_8
                text-transform capitalize
                margin-bottom 50px

                p
                    color black
                    font-weight 500
                    margin 0px
                    padding-right 10px
                    white-space nowrap

                .links
                    padding 0px

                    a
                        font font_8
                        line-height 20px
                        color red
                        padding-right 10px

            .comments
                width 100%
                height 150px

            .share
                padding 10px 0px
                border-top 0.3px solid #D5D5D5
                border-bottom 0.3px solid #D5D5D5

                p
                    font font_3
                    text-transform capitalize
                    color #444444
                    margin 0px

                a
                    padding-left 5px
                    width 25px
                    height 25px

                    img
                        width 100%

    .ads_cont
        width 100%
        padding 0px
        margin-left -15px
        margin-right -15px

        .ads.bar
            margin-left auto
            margin-right auto

    .recomendados
        margin-top 40px

    @media (min-width 640px)
        padding 15px
            /* .foot
                            padding 0px 0px 0px 7px
                            margin 10px 0px
                            font font_8
                            color #5e5e5e
                            text-transform capitalize
            
                            p
                                margin 0px
            
                            .pieTitulo
                                padding-right 5px
                                font-weight bold
            
                            .pie
                                padding-left 5px */