.home .card
    margin 7.5px 0px

    .card-header
        margin 10px 4px
        padding 0px
        min-height unset
        align-items baseline

        p
            margin 0px

            &.title
                float left
                font font_2
                text-transform capitalize
                color #444444

            &.link-more
                float right
                font font_6
                text-align right
                color #2AAAE0

        &:after
            content none

    &.relevantes_home
        padding 5px

        .grid-cont
            display grid
            grid-gap 8px
            padding 4px

            &#grid1
                grid-template-areas 'uno'

                #item1
                    grid-area uno

            &#grid2
                grid-template-areas 'uno dos' 'tres tres'

                #item1
                    grid-area uno

                #item2
                    grid-area dos

                #item3
                    grid-area tres

            &#grid3
                display none

        @media (min-width 640px)
            .grid-cont
                &#grid2
                    grid-template-areas 'uno dos tres'

                &#grid3
                    display grid !important
                    grid-template-areas 'uno dos'

                    #item1
                        grid-area uno

                    #item2
                        grid-area dos

                    #item3
                        display none

                    #item4
                        display none

        @media (min-width 1024px)
            .grid-cont
                &#grid3
                    grid-template-areas 'uno uno cuatro cuatro' 'dos tres cuatro cuatro'

                    #item3
                        display block
                        grid-area tres

                    #item4
                        display block
                        grid-area cuatro

    &.categoria
        padding 5px

        .swiper_cont
            display none !important

        .grid-cont
            display grid
            grid-gap 10px
            padding 4px
            grid-template-columns auto auto

            .grid-item
                &.first
                    grid-column 1 / span 2

                &:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7)
                    display none

        @media (min-width 640px)
            .swiper_cont
                margin-top 5px
                padding 0px 5px
                display block !important

            .grid-cont
                .grid-item
                    &:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7)
                        display block

                    &.mobile
                        display none