.ads
    margin 5px auto
    padding 0px
    background transparent

    &.feed, &.feedLeft, &.inArticle
        width 100%
        min-height 80px

    &.rightArticle
        width 200px
        height 300px

    &.slim
        width 468px
        height 80px

    &.search
        width 200px
        height 200px

    &.bar
        width 600px
        height 200px

    &.top
        .link
            height 100%