.ads
    margin 15px auto 0px auto
    padding 0px
    background grey
    &.slim
        width 468px
        height 80px
    &.square
        width 200px
        height 200px
    &.bar
        width 600px
        height 200px
    &.side
        width 200px
        height 300px