.card
    margin 10px 0px
    border-radius 8px
    box-shadow unset
    background-color white

    &.new_head
        width 100%
        background white
        border-radius 8px
        margin-top 0px
        padding 0px !important

        .card-header
            font font_11
            text-align center
            text-transform uppercase
            color #3A3A3A
            padding 0px
            min-height 45px
            justify-content flex-start
            z-index 1
            padding-left 20px

            &:after
                content none

        .head_logo
            position absolute
            width 100%
            height 100%
            top 0
            left 0

            &:after
                content ''
                display block
                padding-top calc(45 / 600 * 100%)

            img 
                position absolute
                width 100%
                height 100%
                bottom 0
                right 0
                border-radius 8px
                object-fit cover
                object-position bottom
                z-index 0