.error_panel
    .error_card
        padding 15px
        h2
            font font_7
            text-align center
            margin 10px 0px
            color #000
        p
            text-align center
            padding 0px
            margin 10px 0px
            color red
            font font_10