.footer
    margin-top 20px
    margin-bottom 0px
    height 330px
    width 100%
    background #ECECEC
    display flex
    flex-direction column
    align-items center
    padding 30px 0px

    .links
        order 1
        width 60vw
        no-mar-no-pad()

        .cont
            flex-wrap wrap
            justify-content center
            align-items center

        hr
            display none

        a, p
            font font_6
            line-height 20px
            font-weight 500
            text-align center
            color #9E9E9E

        a
            padding 0px 5px

        p
            margin 0px
            margin-top 3px

    .social-mobile
        no-mar-no-pad()
        order 2
        width 55%
        flex-direction column

        p
            font font_6
            line-height 20px
            font-weight 500
            text-align center
            color #9E9E9E
            width 100%
            margin-bottom 16px

        .icons
            width 100%
            no-mar-no-pad()

    .social-desk
        display none !important

    .logo
        position relative
        order 3
        width 45%
        display flex
        margin-top 20px

        .white
            display none

        .black
            display block

        &:after
            content ''
            display flex
            padding-top calc(65 / 133 * 100%)

        img
            position absolute
            top 0
            left 0
            width 100% !important
            height 100% !important
            margin 0px
            object-fit cover

    @media (min-width 640px)
        height 60px
        flex-direction row
        margin-bottom 0px

        .links
            order 2
            margin 0px
            padding 0px

            hr
                border 0.25px solid #878787
                height 14px
                width 0px
                margin 0px

        .social-mobile
            display none !important

        .social-desk
            display flex !important
            order 3
            margin 15px 35px 15px auto
            width 150px
            padding 0px

            a
                width 20px
                height 20px
                display flex

                &.faceIcon
                    img
                        height 100%

                &.youIcon
                    img
                        width 50%

                &.twitIcon, &.instaIcon
                    img
                        width 100%

            .light
                display block

            .dark
                display none

        .logo
            order 1
            width 150px
            margin 8px auto 8px 16px
            padding 0px
            height 42px

            &:after
                content none

            img
                position relative
                width 85px !important
                object-fit cover