.navbar
    position fixed
    bottom 0px
    top unset
    --f7-navbar-height 55px

    .logo
        height 100%
        padding 12px 0px
        box-sizing inherit

        img
            width 100%
            height 100%
            object-fit contain

    .left, .right
        .link
            width 100% !important

            .icon
                font-size 33px
                color white

    .navbar-bg
        background black

    .navbar-inner
        justify-content center

        .left
            margin-right auto

        .right
            margin-left auto

    &.navPopup
        position absolute
        top -55px
        bottom unset

    @media (min-width 1024px)
        --f7-navbar-height 100px

        a
            font-size 16px
            line-height 18px

        .left
            img
                width 105px !important

            &.home
                width 115px !important

        .right
            width 115px !important

    @media (min-width 640px)
        position sticky
        --f7-navbar-height 50px
        bottom unset
        top 0px

        a
            font font_10
            color white
            padding 0px 10px !important
            text-align center
            min-width unset !important
            text-transform uppercase

            &.more-icon
                flex-direction row-reverse

        hr
            border 0.75px solid white
            height 14px
            width 0px
            margin 0px

        .left
            height 100%
            margin-right auto

            a
                width 100%
                height 100%
                box-sizing inherit
                padding 8px 10px !important
                box-sizing border-box

                img
                    width 70px
                    height 100%
                    object-fit contain

            &.home
                width 88px
                justify-content flex-end

                img
                    // transform rotate(180deg)
                    // width 218px !important
                    margin 0px auto

        .right
            height 100%
            width 88px
            margin-left auto

            img
                width auto
                height 100%
                margin 0px auto

.leftRadioPlayer.nav
    position fixed
    bottom 55px
    z-index 500
    width 100%
    height 50px
    margin 0px
    padding 0px

    ul
        background black

        .item-content
            .item-inner
                min-height 50px

                .icon
                    color red

                .item-title
                    color white

            .item-media
                padding-top 5px
                padding-bottom 5px

                img
                    width 40px
                    border-radius 10px

        &:after
            content none

    &:after
        content ''
        position absolute
        background-color #EFEFEF
        display block
        z-index 0
        top auto
        right auto
        bottom 0
        left 0
        height 1px
        width 100%
        transform-origin 50% 100%
        transform scaleY(calc((1 / var(--f7-device-pixel-ratio))))

    @media (min-width 640px)
        display none
