.navbar
    position fixed
    bottom 0px
    top unset

    .navbar-inner
        justify-content center

        .left
            margin-right auto

        .right
            margin-left auto

/* @media (min-width: 640px)
@media (min-width: 768px) */
@media (min-width 1024px)
    position sticky
    /* --f7-navbar-height 50px
    
            @media (min-width 1024px) */
    --f7-navbar-height 70px

    .navbar-bg
        background black

    .navbar-inner
        justify-content center

        a
            font font_10
            color white
            padding 0px 10px !important
            text-align center
            min-width unset !important

        hr
            border 0.75px solid white
            height 14px
            width 0px
            margin 0px

        .left
            width 11.5%
            min-width 105px
            height 100%
            margin-right auto

            a
                width 100%
                height inherit

                img
                    margin auto
                    width 85px
                    position relative
                    left 50%
                    top 50%
                    transform translate(-50%, -50%)

                    @media (min-width 640px)
                        width 85px

                    @media (min-width 1024px)
                        width 105px

        .right
            height 100%
            width 11.5%
            margin-left auto

            img
                width 218px
                margin 0px auto

/* @media (min-width: 1200px)
@media (min-width: 1440px) */