.schedule
    width 100%
    padding 0px

    .week_toolbar
        background unset

        hr
            border 0.75px solid red
            height 14px
            width 0px
            margin 0px

            &:last-of-type
                display none

        .tab-link
            font font_14
            color #D7D7D7
            text-transform capitalize
            min-width 35px

            .mobile
                display flex

            .desk
                display none

            &.tab-link-active
                color #B71F25

        .tab-link-highlight
            display none

    .week_tabs
        width 100%

        .tab-active
            display flex
            flex-direction column
            align-items stretch

            .toolbar
                // height 300px
                // width 63%
                height 225px
                width 100%
                background transparent
                margin-bottom 10px

                .toolbar-inner
                    flex-direction column
                    overflow-y auto
                    height fit-content
                    max-height 300px
                    // padding-right 15px
                    padding-right 0px
                    padding-left 0px
                    background transparent

                    &::-webkit-scrollbar
                        display none

                    .tab-link-highlight
                        display none

                    .tab-link
                        // min-height 30px
                        min-height 25px
                        display flex
                        flex-direction row

                        p
                            margin 0px
                            // font font_3
                            font font_22
                            text-transform capitalize
                            color #5A5A5A
                            // line-height 30px
                            line-height 25px

                        .time
                            width 16%
                            height 100%
                            display flex
                            justify-content center
                            align-items center

                            p
                                font-weight bold
                                color white

                        .text
                            padding-left 12px
                            width 83%

                        &:nth-child(odd)
                            background #D6D6D6

                            .time
                                background #C9C9C9

                        &:nth-child(even)
                            background #E4E4E4

                            .time
                                background #D8D7D7

                        &.tab-link-active
                            background red_2
                            overflow visible

                            .time
                                background red_2

                            p
                                color white

                                &.text
                                    &:before
                                        content ''
                                        width 40%
                                        height 30px
                                        position absolute
                                        background red_2
                                        right 0
                                        top 0
                                        z-index -1

                            &:after
                                content ''
                                position absolute
                                left 0
                                top 0
                                width 80%
                                height 30px
                                background red
                                transform skew(65deg, 0deg)
                                z-index -1
                                box-shadow 0px -5px 6.91564px rgba(0, 0, 0, 0.08)

                        .ripple-wave
                            display none

            .tabs-content
                // margin-left -15px
                // height 300px
                // width 37%
                margin-left 0px
                width 100%
                height 82vw
                border-radius 6px

                .tab-content
                    position relative // mobile
                    height 100%
                    padding 15px
                    flex-direction column
                    // flex-direction column-reverse
                    box-sizing border-box
                    background-repeat no-repeat
                    background-size 150% auto
                    background-position 100% top
                    background-image url('../static/imgs/card_back_7.png')
                    transform scaleX(-1)
                    margin-top 0px
                    border-radius 6px
                    align-items flex-end

                    .img_cont
                        position relative
                        top 0
                        left 0
                        border-radius 8px
                        padding 0px
                        padding-top calc(126 / 182 * 65%)
                        // height 55%
                        width 65%
                        background #C9C9C9
                        transform scaleX(-1)

                        img
                            position absolute
                            top 0px
                            left 0px
                            width 100%
                            height 100%
                            object-fit cover
                            border-radius 8px

                        .icon
                            position absolute
                            top 50%
                            left 50%
                            transform translate(-50%, -50%)
                            font-size 80px
                            color #E4E4E4

                        div
                            position absolute
                            background #000000
                            position absolute
                            bottom 0
                            width 100%
                            display flex
                            display none
                            justify-content flex-start
                            border-radius 8px

                            p
                                color white
                                text-transform capitalize
                                font font_15
                                margin 3px 7px

                    .content
                        width 100%
                        padding 0px
                        // height 45%
                        height 60%
                        overflow hidden
                        // padding 15px
                        // padding-top 11vw
                        padding-top 15px
                        z-index -1
                        border-radius 6px
                        // filter drop-shadow(0px 6.91564px 6.91564px rgba(0, 0, 0, 0.1))
                        // background-repeat no-repeat
                        // background-size 160% auto
                        // background-position 100% top
                        // background-image url('../static/imgs/card_back_7.png')
                        transform scaleX(-1)

                        .block-header
                            font font_14
                            color #272727
                            text-transform capitalize
                            margin 9px 0px 4px 0px
                            // transform scaleX(-1)

                        .text
                            font font_6
                            color #494949
                            text-align left
                            display -webkit-box
                            -webkit-line-clamp 7
                            -webkit-box-orient vertical
                            overflow hidden
                            // transform scaleX(-1)

    @media (min-width 640px)
        .week_toolbar
            .tab-link
                .mobile
                    display none

                .desk
                    display flex

        .week_tabs
            .tab-active
                flex-direction row

                .toolbar
                    height 243px
                    width 60%

                    .toolbar-inner
                        padding-right 15px

                    .tab-link
                        min-height 25px !important

                        p
                            line-height 25px !important

                        &.tab-link-active
                            p.text
                                &:after
                                    content ''
                                    opacity 1
                                    width 19.01px
                                    height 19.01px
                                    position absolute
                                    background red_2
                                    right 0
                                    left unset
                                    top 50%
                                    transform translate(10px, -50%) rotate(45deg)

                                &:before
                                    height 25px !important

                .tabs-content
                    margin-left -15px
                    width 40%
                    height 243px

                    .tab-content
                        padding 8px
                        justify-content unset
                        align-items center
                        flex-direction column
                        box-sizing border-box
                        background-repeat no-repeat
                        background-size 200% auto
                        background-position 100% top
                        background-image url('../static/imgs/card_back_7.png')
                        transform scaleX(1)
                        margin-top 0px
                        border-radius 0px

                        .img_cont
                            position relative
                            top 0
                            left 0
                            width 65%
                            padding-top calc(126 / 182 * 65%)
                            transform scaleX(1)

                        .content
                            padding 0px
                            min-height 50%
                            height fit-content
                            background none
                            transform scaleX(1)

                            .text
                                -webkit-line-clamp 5

    @media (min-width 1024px)
        .week_tabs
            .tab-active
                .toolbar
                    height 270px
                    width 63%

                    .tab-link
                        min-height 30px !important

                        p
                            line-height 30px !important

                        &.tab-link-active
                            p.text
                                &:after
                                    width 21.21px !important
                                    height 21.21px !important

                                &:before
                                    height 30px !important

                .tabs-content
                    width 37%
                    height 270px

                    .tab-content
                        padding 10px

                        .img_cont
                            width 200px
                            padding-top 126 / 182 * 200px

                        .content
                            padding 0px
                            min-height 30%
                            height fit-content
                            background none

                            .text
                                -webkit-line-clamp 6
