.card.left_pan_card
    width 100%

    &.envivo, &.radio_card, &.pages, &.social
        .card-header
            font font_1
            font-weight bold
            color red_2 /* add dark */
            text-transform capitalize
            min-height unset
            padding 9px 0px
            margin 0px 8px 0px 14px
            border-bottom none

            &:after
                content ''
                position absolute
                background-color #EFEFEF
                display block
                z-index 0
                top auto
                right auto
                bottom 0
                left 0
                height 1px
                width 100%
                transform-origin 50% 100%
                transform scaleY(calc((1 / var(--f7-device-pixel-ratio))))

            .icon
                width 16px
                height 16px
                margin 3px 3px 3px 0px

                img
                    height 100%

                    &.light
                        display block

                    &.dark
                        display none

        .item-content
            padding-left 10px
            padding-right 8px
            min-height unset

            .item-inner
                padding 7px 30px 7px 2px
                min-height unset
                align-self unset
                padding-left 2px
                font font_3
                color black_2 /* add dark */
                text-transform capitalize

                &:before
                    content none

                &:after
                    background-color #EFEFEF

    &.envivo
        margin-top 0px

        .item-content
            .item-inner
                text-transform none

        &:after
            background-image url('../static/imgs/card_back_1.png')

    &.radio_card
        .item-content
            .item-inner
                text-transform none

        &:after
            background-image url('../static/imgs/card_back_2.png')

    &.pages
        &:after
            background-image url('../static/imgs/card_back_3.png')

    &.social
        .social_cont
            padding 5px 24px 5px 14px

            a
                display flex

                img
                    width 20px
                    height 20px

        &:after
            background-image url('../static/imgs/card_back_4.png')

    &.about
        background-repeat no-repeat
        background-size cover
        background-position center
        background-image url('../static/imgs/card_back_5.png')

        .item-content
            padding-left 10px
            padding-right 10px
            min-height unset

            .item-inner
                padding 7px 30px 7px 2px
                min-height unset
                align-self unset
                padding-left 4px
                font font_3
                color white /* add dark */
                text-transform capitalize

                &:before
                    content none

                &:after
                    background-color #EFEFEF

        &:after
            content none

    &:after
        content ''
        position absolute
        top 0
        right 0
        width 100%
        height 100%
        max-width 60px
        z-index 2
        border-radius 8px
        pointer-events none
        background-position 0 0
        background-repeat no-repeat
        background-size 100%

    .card-header:after
        content none
