.left_panel_cont
    display none

    @media (min-width 1024px)
        display block
        position sticky
        top var(--f7-navbar-height)
        no-mar-no-pad()
        padding-top 20px
        padding-left 10px
        padding-right 10px
        filter drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.1))
        max-height calc(100vh - 70px)
        overflow-y scroll

        &::-webkit-scrollbar
            display none

        .more
            margin 10px 0px
            padding 0px 5px

            .flex_wrap
                flex-wrap wrap
                width 100%

                .link
                    width 100%
                    justify-content flex-start
                    text-transform capitalize

            a, p
                white-space normal
                margin 2px
                font font_4
                font-size 9px
                color #606060

        .theme
            margin 10px 0px
            padding 8px 7px
            padding-left 14px
            position relative
            overflow hidden
            border-radius 8px
            background #1d1d1d

            .back
                z-index -1
                position absolute
                background #ec1b23
                width 200px
                height 200px
                left 0
                bottom 0
                box-shadow 0px 0px 6px rgba(0, 0, 0, 0.1)
                transform rotate(38deg) translate(50px, 140px)

            a
                color #fff
                font font_14

                i
                    padding-left 5px
                    color #fff
                    font-size 12px

                    &.dark
                        display none

                    &.light
                        display inline-block