.theme-dark
    --f7-block-text-color #fff !important

    .page-content
        background grey_d !important

        .card
            background-color #232323 !important

        .home .card
            .card-header
                .title
                    color #ffffff !important

    .NewsHome_cont
        .content
            .title
                color #fff !important

            .preview
                color #e2e2e2 !important

    .footer
        background #1d1d1d !important

        .logo
            .white
                display block

            .black
                display none

        a, p
            color #ffffff !important

        .social-desk
            .light
                display none

            .dark
                display block

    .left_panel_tablet
        .icon-link
            &.dark
                display block

            &.light
                display none

        .links
            .text-link, p
                color #dddddd !important

    .left-popup-tablet
        background #232323 !important

        &.search-popup
            input
                color #e2e2e2 !important
                background #232323 !important

            input::placeholder
                color #5c5c5c !important

            span
                color #5c5c5c !important

        &.live-popup, &.radio-popup, &.more-popup, &.nosotros-popup
            .list
                ul
                    .item-content
                        border-bottom 1px solid #505050 !important

                        .item-inner
                            color #F5F5F5 !important

                            &:after
                                background-color #505050 !important

    .left_panel_cont
        .more
            a, p
                color #e0e0e0

        .theme
            a
                i
                    &.dark
                        display inline-block

                    &.light
                        display none

    .left_pan_card
        &.envivo, &.radio_card, &.pages, &.social
            .card-header
                margin-left 10px !important

                .icon
                    img
                        &.light
                            display none

                        &.dark
                            display block

            .item-content
                .item-inner
                    color #ffffff

                    &:after
                        background-color #EFEFEF

    .right_panel_tablet
        a
            i
                color #2d2d2d

    .right-popup-tablet
        background #232323

        a.close
            i
                color #2d2d2d

        h1
            color #fff

    .dest-item
        .dest-cont
            border-bottom 1px solid #3a3a3a

            .block-title
                color #fff

            .cont
                color #e7e7e7

    .right_panel_cont
        .search_block
            background #2d2d2d

            .search_cont
                input
                    background #5f5f5f
                    color #fff

                input::placeholder
                    color #c7c7c7

                span
                    color #c7c7c7

    .right_panel_down_card
        .card-header
            color #fff /* add dark */
            border-bottom 1px solid #3a3a3a