.theme-dark
    --f7-block-text-color #fff !important

    .page-content
        background grey_d !important

        .card
            background-color #232323 !important

            &.new_head
                background #232323

                .card-header
                    color #fff

        .home .card
            .card-header
                .title
                    color #ffffff !important

    .NewsHome_cont
        .content
            .title
                color #fff !important

            .preview
                color #e2e2e2 !important

    .footer
        background #1d1d1d !important

        .logo
            .white
                display block

            .black
                display none

        a, p
            color #ffffff !important

        .social-desk
            .light
                display none

            .dark
                display block

    .left_panel_tablet
        .icon-link
            &.dark
                display block

            &.light
                display none

        .links
            .text-link, p
                color #dddddd !important

    .left-popup-tablet
        background #232323 !important

        &.search-popup
            input
                color #e2e2e2 !important
                background #232323 !important

            input::placeholder
                color #5c5c5c !important

            span
                color #5c5c5c !important

        &.live-popup, &.radio-popup, &.more-popup, &.nosotros-popup
            .list
                ul
                    .item-content
                        border-bottom 1px solid #505050 !important

                        .item-inner
                            color #F5F5F5 !important

                            &:after
                                background-color #505050 !important

    .left_panel_cont
        .more
            a, p
                color #e0e0e0

        .theme
            a
                i
                    &.dark
                        display inline-block

                    &.light
                        display none

    .left_pan_card
        &.envivo, &.radio_card, &.pages, &.social
            .card-header
                margin-left 10px !important

                .icon
                    img
                        &.light
                            display none

                        &.dark
                            display block

            .item-content
                .item-inner
                    color #ffffff

                    &:after
                        background-color #EFEFEF

    .right_panel_tablet
        a
            i
                color #2d2d2d

    .right-popup-tablet
        background #232323

        a.close
            i
                color #2d2d2d

        h1
            color #fff

    .dest-item
        .dest-cont
            border-bottom 1px solid #3a3a3a

            .block-title
                color #fff

            .cont
                color #e7e7e7

    .right_panel_cont
        .search_block
            background #2d2d2d

            .search_cont
                input
                    background #5f5f5f
                    color #fff

                input::placeholder
                    color #c7c7c7

                span
                    color #c7c7c7

    .right_panel_down_card
        .card-header
            color #fff /* add dark */ !important
            border-bottom 1px solid #3a3a3a !important

    .menuPopup
        .page-content
            .grid
                .box
                    background #1d1d1d

                    .block
                        .block-header
                            p
                                color #fff

                        .link
                            color #dddddd

                    &.theme
                        a
                            color #dddddd

                            i
                                color #dddddd

                                &.dark
                                    display inline-block

                                &.light
                                    display none

                .foot
                    .block
                        .link
                            color #d2d2d2

                    p
                        color #d2d2d2

                .search_cont
                    input
                        background #303030
                        color #ffffff

                        &.input-with-value ~ span
                            display none

                    input::placeholder
                        color #5f5f5f

                    span
                        color #5f5f5f

    .panel-left.categorias
        background #1d1d1d

        ul
            background #1d1d1d

            .current
                .item-content
                    background red

                    .item-inner
                        color white

            .item-content
                .item-inner
                    color #fff

    .NewsCategoria_cont
        .head
            .share
                p
                    color #fff

        .content
            .title
                color #fff

            .preview
                color #ccc

    .markdown
        .titulo
            color #fff

        .parrafo
            color #fff

    .card.articulo
        .header_cont
            .card-header
                a
                    color #fff

            .share
                p
                    color #fff

        .title_cont
            .titulo
                color #fff

        .content
            .left_side
                padding 0px 5px

                .tags
                    p
                        color #fff

                .share
                    p
                        color #f3f3f3

                    a
                        padding-left 5px
                        width 25px
                        height 25px

                        img
                            width 100%
                            height 100%

        .share.tab
            p
                color #f3f3f3

    .recomendados
        h1
            color #fff !important

    .swiper-container
        .swiper-scrollbar
            background #3d3d3d !important

        .swiper-button-disabled
            &:after
                color #c4c4c4 !important

    .card.tv
        .header_cont
            .card-header
                h1
                    color #fff

            .share
                p
                    color #f3f3f3

        .middle-cont
            .program-name
                h2
                    color #fff

            .programa-desc
                color #8b8b8b

        .tabla_programacion
            .block-header
                color #fff

        .mas_canales
            .block-header
                color #fff

            .canal
                .canal_content
                    .title
                        color #fff

    .schedule
        .week_toolbar
            .tab-link
                color #838383

                &.tab-link-active
                    color #B71F25

        .week_tabs
            .tab-active
                .toolbar
                    .toolbar-inner
                        .tab-link
                            p
                                color #7d7d7d

                            &:nth-child(odd)
                                background #303030

                                .time
                                    background #272727

                            &:nth-child(even)
                                background #3a3a3a

                                .time
                                    background #454545

                            &.tab-link-active
                                background red_2

                                .time
                                    background red_2

                                p
                                    color white

                .tabs-content
                    background #525252

                    .tab-content
                        .img_cont
                            background #454545

                            .icon
                                color #3a3a3a

                        .content
                            .block-header
                                color #fff

                            .text
                                color #d0d0d0

    .card.radio_center_card
        .header_cont
            .card-header
                h1
                    color #fff

            .share
                p
                    color #fff

        .tabla_programacion
            .block-header
                color #fff

        .mas_canales
            .block-header
                color #fff

            .canal
                .canal_content
                    .title
                        color #fff

        .radio-wrapper
            .radio-ui-mobile
                .title
                    color #cccccc

            .radio-ui
                .top-wrapper
                    .logo-radio
                        &:after
                            background-image url('../static/icons/microphone_dark.png')

                    .content-radio
                        .title
                            color #fff

                        .text
                            color #ccc

                .controls-wrapper
                    width 100%
                    background #171717

                    .controls
                        a
                            .icon
                                color #fff

                        .range-slider
                            --f7-theme-color #c0c0c0

    .not_found_panel
        .not_found_card
            h2
                color #fff

            p
                color #fff

    .NewsBusqueda_cont
        .background
            background #2b2b2b

            .content
                .info
                    .fecha
                        color #979797

                .title
                    color #fff

                .preview
                    color #b6b6b6

    .grid-cont
        .modal-in
            .add
                background #232323

                .content
                    p
                        color #fff

    .nosotros_panel
        .card
            .back
                background #2a2a2a

            &.city
                .back
                    .cityImg
                        &.dark
                            display block

                        &.light
                            display none

                    .logo_cont
                        .dark
                            display block

                        .light
                            display none

            &.quote
                &:before
                    color white

            &.bottom
                .back
                    .logo_cont
                        .dark
                            display block

                        .light
                            display none

    .calca_panel
        .title
            p
                color #fff

        .bottom
            p
                color #fff

        .card
            .back
                background #303030

                .city
                    display none

                .city2
                    display none

                .cityB
                    display block

                form
                    .registrar
                        input
                            background linear-gradient(360deg, #EC1E26 0%, #FF686E 101.14%), #EC1B23 !important

                    .input
                        input
                            background #545454

                        input::placeholder
                            color #8d8d8d

                    .privacity
                        input
                            background #4E4D4D
                            color #4E4D4D

                        .input-info
                            p
                                color #837C7C

                                a
                                    color red

    .contacto_panel
        .card
            .back
                background #303030

                .block-header
                    h1
                        color #fff

                .icons_cont
                    .contacto_icon
                        p
                            color #fff

                        .light
                            display none

                        .dark
                            display block

                .info
                    .titulo
                        color #fff

                    .text
                        color #fff

                    .warning
                        color red

                    .parrafo
                        color #fff

                form
                    .input
                        input, textarea
                            background #3e3e3e

                        input::placeholder, textarea::placeholder
                            color #696969

                    .enviar
                        input
                            color #fff
                            background linear-gradient(360deg, #EC1E26 0%, #FF686E 101.14%), #EC1B23

                .parrafo_bottom
                    p
                        color #fff

                .parrafo_red
                    color red

    .av_priv_panel
        .card
            .back
                .markdown
                    .titulo
                        color #000

                    .parrafo
                        color #000

    .der_replica_panel
        .content
            color #000

    .espectacular_panel
        .card
            .back
                background #303030

                .block-header
                    h2
                        color #fff

                .content
                    p
                        color #fff

                    .quote
                        background linear-gradient(360deg, #EC1B23 43.39%, #FF5C63 125.23%)

                        p
                            color white

                        &:before
                            color white

        .portada_cont
            .light
                display none

            .dark
                display block

    .catalogo_panel
        .card
            .back
                background #303030

                .block-header
                    h2
                        color #fff

    .autor_card
        .back
            .nombre
                color #fff

            .redes_label
                color #9b9b9b

    .card.autor_head
        .info_cont
            .name_info
                .name
                    color #fff

    .news-cont
        .autor_card
            .back
                background #232323