.contacto_panel
    .card
        padding 5px

        .back
            margin 0px
            border-radius 6px
            background #F0F0F0
            padding 9px

            .block-header
                display flex
                justify-content flex-start
                align-items flex-start
                margin-bottom 15px
                padding 0px

                h1
                    font font_16
                    color #000000
                    text-transform uppercase
                    margin 0px
                    padding 0px

            .player-wrapper
                padding 0px
                margin 0px
                margin-left -9px
                width calc(100% + 18px)
                position relative

                &:after
                    content ''
                    display block
                    padding-top calc(832 / 1520 * 100%)

                .player
                    position absolute
                    top 0
                    left 0
                    height 100% !important
                    width 100% !important

            .icons_cont
                padding 0px
                margin 20px auto
                display flex
                justify-content space-between
                align-items center

                .contacto_icon
                    display flex
                    flex-direction column
                    justify-content space-between
                    align-items center
                    width 13vw
                    height 48px
                    padding 0px
                    margin 0px

                    &#radio
                        img
                            width 31px
                            height 33px

                    &#tv
                        img
                            width 25px
                            height 25px

                    &#espect
                        img
                            width 28px
                            height 29px

                    &#spantalla
                        img
                            width 29px
                            height 27px

                    &#media
                        img
                            width 33px
                            height 28px

                    p
                        font font_15
                        color #393939
                        text-align center
                        margin 0px
                        padding 0px
                        font-size 8px
                        line-height 10px

            .info
                margin 0px
                padding 0px

                .titulo
                    font font_2
                    text-align center
                    color #000000
                    margin 0px
                    padding 0px

                .text
                    font font_10
                    text-align center
                    color #000000
                    margin 0px
                    padding 0px

                .warning
                    font font_12
                    color red
                    text-align center
                    margin 10px 0px
                    padding 0px

                .parrafo
                    font font_10
                    text-align center
                    color #000000
                    margin 0px
                    padding 0px

            form
                display flex
                flex-direction column
                justify-content flex-start
                margin 35px 0px

                .titulo
                    width fit-content
                    background #ffffff
                    padding 3px 24px 3px 6px
                    margin-bottom 30px

                    p
                        font font_23
                        color red
                        text-transform capitalize
                        margin 0px

            .parrafo_bottom
                margin 0px
                padding 0px
                margin-bottom 25px

                p
                    font font_8
                    text-align center
                    color #000000
                    margin 0px

            .parrafo_red
                margin 0px
                padding 0px
                margin-bottom 10px
                font font_2
                color red
                text-align center
