.card.tv
    margin-top 0px
    padding 20px 18px
    margin-bottom 15px

    .header_cont
        padding 0px
        margin-bottom 30px

        .card-header
            padding 0px
            font font_12
            color grey_d_3
            text-transform capitalize

            .icon
                color red

            &:after
                content none

        .share
            padding 0px 8px

            p
                font font_3
                text-transform capitalize
                color #444444
                margin 0px

            a
                padding-left 5px
                width 25px
                height 25px

                img
                    width 100%

    .player-wrapper
        position relative
        height 0
        width 100%
        padding 0
        padding-top calc(591.44 / 1127.34 * 100%) //aspect radio

        .player
            position absolute
            top 0
            left 0
            width 100% !important
            height 100% !important

    .info-programa
        padding 20px 0px

        .titulo-programa
            font font_13
            color grey_d
            margin-bottom 5px

        .texto-programa
            no-mar-no-pad()
            font font_10
            color grey
            text-transform capitalize

    .tabla_programacion
        no-mar-no-pad()
        margin-bottom 20px

        .block-header
            margin 20px 0px 10px 0px
            font font_3
            text-transform capitalize
            color grey_d

    .mas_canales
        no-mar-no-pad()
        margin-bottom 20px

        .block-header
            margin 15px 0px
            font font_3
            text-transform capitalize
            color grey_d

        .canal
            padding 0px 
            margin-bottom 15px
            .icon_tv
                position absolute
                top 0
                left 0
                width 40px
                height 40px
                background red_2
                border-radius 4px
                overflow hidden
                img
                    width 20px
                    height 20px
                &:before
                    content ''
                    position absolute
                    bottom 0
                    right 0
                    width 60px
                    height 60px
                    background red
                    transform rotate(45deg)
                    z-index -1

            .canal_content
                width 80%
                left 0
                padding 15px 0px 0px 15px
                img
                    padding 0px
                    width 100%
                    object-fit cover
                .title
                    position absolute
                    bottom 0px
                    left 15px
                    padding 0px
                    margin-left 15px
                    margin-bottom 15px
                    font font_12
                    text-transform capitalize
                    color white
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);