.card.tv
    margin-top 0px
    padding 20px 18px

    .header_cont
        padding 0px
        margin-bottom 30px

        .card-header
            padding 0px
            font font_12
            color grey_d_3
            text-transform capitalize

            .icon
                color red

            &:after
                content none

        .share
            padding 0px 8px

            p
                font font_3
                text-transform capitalize
                color #444444
                margin 0px

            a
                padding-left 5px
                width 25px
                height 25px

                img
                    width 100%

    .player-wrapper
        position relative
        height 0
        width 100%
        padding 0
        padding-top calc(591.44 / 1127.34 * 100%)

        .player
            position absolute
            top 0
            left 0
            width 100% !important
            height 100% !important

    
