.new_card
    padding 20px 10px 10px 10px

    .header_cont
        padding 0px

        .head
            padding 0px
            margin 5px
            font font_8
            color #979797
            text-transform capitalize

            p
                margin 0px

            .autor
                color red
                padding-right 5px

            .fecha
                padding-left 5px

        .share
            padding 0px 14px

            p
                font font_3
                text-transform capitalize
                color #444444
                margin 0px

            a
                padding-left 5px
                width 25px
                height 25px

                img
                    width 100%

    .title_cont
        padding 15px 0px 0px 0px

        .titulo
            padding 0px
            font font_9
            text-transform capitalize
            color #242424
            white-space normal

        .img_cont
            padding 10px 0px 0px 0px
            width 100%

            img
                width 100%
                object-fit cover

            .foot
                padding 0px 0px 0px 7px
                margin 10px 0px
                font font_8
                color #5e5e5e
                text-transform capitalize

                p
                    margin 0px

                .pieTitulo
                    padding-right 5px
                    font-weight bold

                .pie
                    padding-left 5px

    .content
        padding 0px 7px

        p
            margin-top 0px
            margin-bottom 5px
            padding 0px
            font font_10
            line-height 16px
            text-align justify
            text-transform capitalize
            color black

        a
            padding 5px 0px 15px 0px
            font font_8
            font-weight 500
            color #2AAAE0