@import './stylus/components/card-articulo.styl'
@import './stylus/components/cards-left-panel.styl'
@import './stylus/components/cards-right-panel.styl'
@import './stylus/components/cards-news.styl'
@import './stylus/components/card-tv.styl'
@import './stylus/components/card-radio.styl'
@import './stylus/components/recomendadosSwiper.styl'

.card
    margin 10px 0px
    border-radius 8px
    box-shadow unset
    background-color white

    &.head
        width 100%
        height 45px
        background white
        border-radius 8px
        margin-top 0px

        .card-header
            font font_11
            text-align center
            text-transform uppercase
            color #3A3A3A
            padding 0px
            min-height 45px
            justify-content center

            &:after
                content ''
                position absolute
                top 0
                right 0
                width 100%
                height 100%
                z-index 2
                border-radius 8px
                transform unset
                pointer-events none
                background-position right
                background-repeat no-repeat
                background-size cover
                background-color unset
                background-image url('../static/imgs/card_back_6.png')