.footer
    height 70px
    background white_d
    no-mar-no-pad()
    .left
        margin 15px auto 15px 50px
        padding 0px
        width 85px
        display flex 
        img 
            width 100%
            object-fit cover

    .right
        margin 15px 50px 15px auto
        width 150px
        padding 0px
        a
            width 20px
            height 20px
            display flex
            &.faceIcon
                img
                    height 100%
            &.youIcon
                img
                    width 50%
            &.twitIcon,&.instaIcon
                img
                    width 100%

    .center
        no-mar-no-pad()
        padding 20px 0px
        
        hr
            border 0.25px solid #878787
            height 14px
            width 0px
            margin 0px

        a,p
            font font_8
            text-align center
            color #878787
        
        a
            padding 0px 7px

        p
            margin-top 3px