.left_panel_cont
    position sticky
    top var(--f7-navbar-height)
    no-mar-no-pad()
    padding-top 30px
    filter drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.1))

    .more
        margin 15px 0px
        padding 0px 5px

        .flex_wrap
            flex-wrap wrap

        a, p
            white-space nowrap
            margin 4px
            font font_4
            color #606060