.masthead
    no-mar-no-pad()

    .logo
        position absolute
        top 0
        left 0
        width 20vw
        margin 30px 35px
        padding 0px
        z-index 2

        &:after
            content ''
            display block
            padding-top calc(180 / 365 * 100%)

        img
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            padding 0px
            margin 0px

    .swiper-container
        .swiper-slide
            .background
                no-mar-no-pad()
                width 100%

                &:after
                    content ''
                    display block
                    padding-top calc(810 / 1920 * 100%)

                img
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    object-fit cover

            .content
                position absolute
                bottom 0
                left 0
                width 60vw
                padding 0px
                margin 50px 35px

                .categoria
                    margin 0px
                    padding 0px 30px 0px 7px
                    font font_16
                    color red
                    text-transform capitalize
                    background white
                    width min-content

                .text
                    margin 0
                    padding 0
                    font font_17
                    color white
                    text-shadow 0px 0px 6px rgba(0, 0, 0, 0.35)
                    text-transform capitalize

                .block-footer
                    margin 0
                    padding 0
                    font font_13
                    color #E4E4E4
                    text-transform capitalize
                    display flex
                    align-items center
                    justify-content left

                    p
                        margin 0px

                    .autor
                        color white

        .swiper-pagination-bullet
            width 10px
            height 10px
            background white

            &.swiper-pagination-bullet
                background white