.navbar
    position sticky
    --f7-navbar-height 70px

    .navbar-bg
        background black

    .navbar-inner
        justify-content center

        a
            font font_1
            color white
            padding 0px 10px !important
            text-align center
            min-width unset !important

        hr
            border 0.75px solid white
            height 14px
            width 0px
            margin 0px

        .left
            width 11.5%
            height 100%
            margin-right auto
            img
                margin 9px auto
                width 105px

        .right
            height 100%
            width 11.5%
            margin-left auto
            img 
                width 218px
                margin 0px auto

    /* @media (min-width: 480px)
    @media (min-width: 568px)
    @media (min-width: 768px)
 */
    @media (min-width: 1024px)
        .navbar-inner
            a
                font-size 12px
                padding 0px 8px !important

    @media (min-width: 1200px)
        .navbar-inner
            a
                font-size 14px
                padding 0px 10px !important
/*     @media (min-width: 1440px)
        .navbar-inner
            a
                font-size 16px
                padding 0px 10px !important */

