.card
    .recomendados
        margin 0px
        padding 0px

        .head
            padding 0px 0px 15px 0px

            h1
                padding-right 10px
                margin 0px
                font font_7
                text-transform capitalize
                color #303030

            a
                font font_10
                color #2AAAE0
                margin 0px

    .swiper-container
        padding-bottom 50px

        .swiper-scrollbar
            width 35%
            height 10px
            margin 20px auto
            bottom 0px
            left 50%
            background #ECECEC
            transform translateX(-50%)

            .swiper-scrollbar-drag
                background red
                border-radius 6.66667px

        .swiper-button-prev
            width 20px
            height 20px
            bottom 0px
            left 0px
            top unset
            margin-top 15px
            margin-bottom 15px
            margin-left calc(32.5% - 30px)
            margin-right 15px
            

            &:after
                content 'play_arrow'
                font-family 'Material Icons'
                font-size 25px
                width 100%
                height 100%
                transform scaleX(-1)
                display flex
                justify-content center
                align-items center
                color red

        .swiper-button-next
            width 20px
            height 20px
            right 0px
            bottom 0px
            top unset
            margin-top 15px
            margin-bottom 15px
            margin-left 15px
            margin-right calc(32.5% - 30px)

            &:after
                content 'play_arrow'
                font-family 'Material Icons'
                font-size 25px
                width 100%
                height 100%
                display flex
                justify-content center
                align-items center
                color red

        .swiper-button-disabled
            &:after
                color #c4c4c4

    &.recomendados-card
        padding 18px