.schedule
    width 100%
    padding 0px

    .week_toolbar
        background unset

        hr
            border 0.75px solid red
            height 14px
            width 0px
            margin 0px

        .tab-link
            font font_14
            color #D7D7D7
            text-transform capitalize

            &.tab-link-active
                color #B71F25

        .tab-link-highlight
            display none

    .week_tabs
        width 100%

        // max-height 225px
        .tab-active
            display flex
            align-items stretch

            .toolbar
                height 300px
                width 63%
                background transparent

                .toolbar-inner
                    flex-direction column
                    overflow-y auto
                    height fit-content
                    max-height 300px
                    padding-right 15px
                    background transparent

                    &::-webkit-scrollbar
                        display none

                    .tab-link-highlight
                        display none

                    .tab-link
                        min-height 30px
                        display flex
                        flex-direction row

                        p
                            margin 0px
                            font font_3
                            text-transform capitalize
                            color #5A5A5A
                            line-height 30px

                        .time
                            width 16%
                            height 100%
                            display flex
                            justify-content center
                            align-items center

                            p
                                font-weight bold
                                color white

                        .text
                            padding-left 12px
                            width 83%

                        &.v1
                            background #D6D6D6

                            .time
                                background #C9C9C9

                        &.v2
                            background #E4E4E4

                            .time
                                background #D8D7D7

                        &.tab-link-active
                            background red
                            overflow visible

                            .time
                                background red_2

                            p
                                color white

                                &.text:after
                                    content ''
                                    opacity 1
                                    width 21.21px
                                    height 21.21px
                                    position absolute
                                    background red_2
                                    right 0
                                    left unset
                                    top 50%
                                    transform translate(10px, -50%) rotate(45deg)

                            &:after
                                content ''
                                position absolute
                                right 0
                                top 0
                                width 0
                                height 0
                                border-right 120px solid red_2
                                border-bottom 60px solid transparent

                        .ripple-wave
                            display none

            .tabs-content
                margin-left -15px
                width 37%
                height 300px

                .tab-content
                    height 100%
                    padding 15px
                    flex-direction column
                    box-sizing border-box

                    .img_cont
                        border-radius 8px
                        padding 0px
                        height 55%

                        img
                            width 100%
                            height 100%
                            object-fit cover
                            border-radius 8px

                        div
                            background #000000
                            position absolute
                            bottom 0
                            width 100%
                            display flex
                            justify-content flex-start
                            border-radius 8px

                            p
                                color white
                                text-transform capitalize
                                font font_15
                                margin 3px 7px

                    .content
                        width 100%
                        padding 0px
                        height 45%
                        overflow hidden
                        .block-header
                            font font_14
                            color #272727
                            text-transform capitalize
                            margin 9px 0px 4px 0px

                        .text
                            font font_6
                            color #494949
                            text-align left