.right_panel_tablet
    // display none
    display flex
    justify-content flex-end
    position fixed
    top 50px
    padding 0px 
    margin 0px
    right 0


    a
        width 42px
        height 42px
        margin 0px
        margin-top 20px
        padding 0px
        background red
        border-top-left-radius 50%
        border-bottom-left-radius 50%
        i
            font-size 30px
            color white
    // @media (min-width 640px)
    //     display flex
    //     justify-content flex-end
    //     position sticky
    //     top 50px
    //     padding 0px 
    //     margin 0px

    //     a
    //         width 42px
    //         height 42px
    //         margin 0px
    //         margin-top 20px
    //         padding 0px
    //         background red
    //         border-top-left-radius 50%
    //         border-bottom-left-radius 50%
    //         i
    //             font-size 30px
    //             color white

    @media (min-width 1024px)
        display none