.searchbar-backdrop
    opacity 0 !important

.searchbar
    margin 0px 10px !important
    width calc(100% - 20px) !important
    height 30px
    background white
    border-radius 8px !important
    box-shadow none !important

    input
        font font_5 !important
        color grey !important
        padding-left 35px !important
        padding-right 30px !important
        border-radius 8px !important

    .searchbar-icon
        width 20px
        height 20px
        margin-top 0px
        margin-left 12px
        margin-right 3px
        left 0px
        top 50%
        transform translateY(-50%)

        &:after
            color grey_l !important

    .input-clear-button
        width 30px !important
        height 30px !important
        margin-top -15px !important
        color grey_l !important

        &:before
            content none !important
        &:after
            display flex !important
            justify-content center !important
            align-items center !important