@import './stylus/constants/colors.styl';
@import './stylus/constants/fonts.styl';
@import './stylus/constants/dimensions.styl';
@import './stylus/navbar.styl';

/* iOS Cordova Tweak */
.device-cordova.device-ios
  height 100vh

/* Your app custom styles here */
.uppercase
  text-transform uppercase