@import './stylus/constants/colors.styl'
@import './stylus/constants/fonts.styl'
@import './stylus/constants/dimensions.styl'
@import './stylus/constants/mixins.styl'
@import './stylus/components/general/footer.styl'
@import './stylus/components/general/navbar.styl'
@import './stylus/components/general/ads.styl'
@import './stylus/components/general/left_panel/left-panel.styl'
@import './stylus/components/general/right_panel/right-panel.styl'
@import './stylus/components/articulo/card-articulo.styl'
@import './stylus/components/general/left_panel/cards-left-panel.styl'
@import './stylus/components/general/right_panel/cards-right-panel.styl'
@import './stylus/components/cards-news.styl'
@import './stylus/components/tv/card-tv.styl'
@import './stylus/components/radio/card-radio.styl'
@import './stylus/components/general/recomendadosSwiper.styl'
@import './stylus/components/general/cards.styl'
@import './stylus/components/general/right_panel/searchbar.styl'
@import './stylus/components/general/right_panel/destacado-item.styl'
@import './stylus/components/general/center-panels.styl'
@import './stylus/components/nota-recomendada.styl'
@import './stylus/components/popovers/popovers.styl'
@import './stylus/components/general/schedule.styl'
@import './stylus/components/home/masthead.styl'
@import './stylus/components/home/cards-home.styl'

/* iOS Cordova Tweak */
.device-cordova.device-ios
  height 100vh

/* Your app custom styles here */
.page-content
  background white_l

  &.darkTheme
    background grey_d

.main_cont
  /* width 95vw */
  width fit-content
  margin 0px auto
  padding 0px

  .paneles
    display flex
    flex-direction row
    /* width 100% */
    width fit-content
    margin auto
    padding 0px

    .left_pan
      width 15vw
      max-width 300px
      min-width 165px
      no-mar-no-pad()
      padding-bottom 15px

    .right_pan
      width 15vw
      max-width 400px
      min-width 200px
      no-mar-no-pad()
      margin-left -10px
      margin-right 10px
      padding-bottom 15px

    .center_pan
      width 45vw
      padding 20px 10px 15px 10px !important
      min-width 620px
      no-mar-no-pad()
      z-index 3

    /* @media (min-width: 480px)
    @media (min-width: 568px)
    @media (min-width: 768px) 
    @media (min-width: 1024px) */

  @media (min-width 1200px)
    /* width 70vw */
    .paneles
      .left_pan
        width 10vw

      .right_pan
        width 15vw

  .ads_cont
    width 100%
    no-mar-no-pad()

    .left, .right
      no-mar-no-pad()
      width 15vw

      @media (min-width 1200px)
        width 10vw

    .left
      min-width 165px

    .right
      min-width 200px

    .center
      min-width 620px
      no-mar-no-pad()
      width 45vw

      .ads
        margin-left auto
        margin-right auto

.uppercase
  text-transform uppercase