.popover-menu
    background-color black
    box-shadow 0px 0px 10px rgba(0, 0, 0, 0.65)
    border-radius 4px
    width 200px
    max-height calc(100vh - 100px)
    overflow-y scroll
    overflow-x hidden

    .popover-inner
        li
            .item-link
                .item-content
                    padding-left 15px
                    justify-content flex-end

                    .item-inner
                        width fit-content
                        color white
                        font font_10
                        text-transform uppercase
                        padding-right 15px

                        &:after
                            content none

                        &:before
                            content none

                    &:after
                        content ''
                        position absolute
                        background-color white
                        display block
                        z-index 15
                        top auto
                        right auto
                        bottom 0
                        left 0
                        height 1px
                        width 100%
                        transform-origin 50% 100%
                        transform scaleY(calc((1 / var(--f7-device-pixel-ratio))))

            &:last-child
                .item-content
                    &:after
                        content none