.right-popup-tablet
    display none

    @media (min-width 640px)
        width 190px !important
        height calc(100% - 44px) !important
        transform translate3d(42px, 0, 0) !important
        filter drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        border-radius 6px !important
        margin 0px !important
        left 100% !important
        overflow visible
        max-height calc(100vh - 75px)

        a.close
            position absolute
            top 0px
            left -42px
            width 42px
            height 42px
            margin 0px
            margin-top 9px
            padding 0px
            background red
            border-top-left-radius 50%
            border-bottom-left-radius 50%

            i
                font-size 30px
                color white

        h1
            font font_14
            padding 10px 0px
            margin 0px 12px
            color #1A1A1A
            text-transform capitalize

            &:after
                content none

        .news-cont
            no-mar-no-pad()
            height calc(100% - 44px)
            width 100%
            overflow hidden
            margin-bottom 10px
            overflow-y scroll

        &.modal-in
            transform translate3d(-190px, 0, 0) !important

    @media (min-width 1024px)
        display none