.coahuila-tags
    a.link
        color: red;
        font-size: 10px;
        display: inline-block;
        padding: 0 4px;

.NewsCategoria_cont
    padding 14px 10px

    .head
        display flex
        justify-content space-between
        align-items center
        padding 0px
        padding-left 5px
        margin-bottom 23px

        .info
            padding 0px
            display flex
            text-transform capitalize
            font font_6
            color #BCBCBC

            .autor
                font @font
                color red
                text-transform @text-transform
                margin 0px

            .fecha
                font @font
                color @color
                text-transform @text-transform
                margin 0px

        .share
            padding 0px

            p
                font font_22
                text-transform capitalize
                color #3E3E3E
                margin 0px

            a
                padding-left 5px
                width 25px
                height 25px

                img
                    width 100%

    .content
        margin 0px
        padding 0px

        .title
            width 100%
            padding 0px 5px
            margin-bottom 12px
            font font_7
            color #000
            display -webkit-box
            // -webkit-line-clamp 2
            -webkit-box-orient vertical
            overflow hidden
            &:first-letter
                text-transform uppercase

        .img_cont
            position relative
            margin 0px
            margin-bottom 10px
            padding 0px
            width 100%

            &:after
                content ''
                display block
                padding-top calc(152 / 335 * 100%)

            img
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                object-fit cover
                border-radius 6px

        .preview
            margin 0px
            margin-bottom 10px
            padding 0px 4px
            font font_8
            color #404040
            display -webkit-box
            -webkit-line-clamp 4
            -webkit-box-orient vertical
            overflow hidden

        .more_cont
            width 100%
            display flex
            flex-direction row-reverse

            .more
                padding-right 5px
                font font_8
                color #2AAAE0
                text-align right

    @media (min-width 640px)
        padding 10px

        .head
            padding-left 0px
            margin-bottom 10px

            .info
                margin-top 5px

        .content
            .title
                font font_12
                color #242424

            .img_cont
                &:after
                    content ''
                    display block
                    padding-top calc(271 / 665 * 100%)

            .preview
                text-align justify

            .more_cont
                .more
                    font font_22

    @media (min-width 1024px)
        .content
            .img_cont
                &:after
                    content ''
                    display block
                    padding-top calc(300 / 577 * 100%)

            .more_cont
                flex-direction row
                .more
                    text-align left
                    padding-left 5px