.NewsHome_cont
    width 100%
    padding 0px

    .img_cont
        position relative
        width 100%
        padding 0px

        &:after
            content ''
            display block
            padding-top calc(152 / 164 * 100%)

        a
            position absolute
            width 100%
            height 100%

            img
                width 100%
                height 100%
                object-fit cover
                border-radius 6px

    .img_foot
        display flex
        font font_6
        text-transform capitalize
        color #BCBCBC
        margin 10px 0px 5px 0px
        padding 0px
        padding-left 5px

        .autor
            font @font
            color red
            text-transform @text-transform
            margin 0px

        .fecha
            font @font
            color @color
            text-transform @text-transform
            margin 0px

    .content
        margin 0px
        padding 0px 5px

        .title
            font font_7
            color #000000
            display -webkit-box
            // -webkit-line-clamp 2
            -webkit-box-orient vertical
            overflow hidden
            &:first-letter
                text-transform uppercase

        .preview
            margin 5px 0px
            padding 0px
            font font_8
            color #191919
            display -webkit-box
            -webkit-line-clamp 4
            -webkit-box-orient vertical
            overflow hidden
            &:first-letter
                text-transform capitalize


    &.grid-item.first
        .img_cont
            &:after
                padding-top calc(152 / 335 * 100%) !important

        .content
            .preview
                -webkit-line-clamp 3

    @media (min-width 640px)
        .img_cont
            &:after
                padding-top calc(127 / 327 * 100%)

        .content
            .title
                // -webkit-line-clamp 1

            .preview
                -webkit-line-clamp 3

        &.grid-item.first
            &:after
                content ''
                display block
                padding-top calc(204 / 664 * 100%) !important

            .img_cont
                position absolute
                width 100%
                z-index 0

                a
                    width 100%
                    height 100%

                    img
                        width 100%
                        height 100%
                        object-fit cover
                        border-radius 6px

                &:after
                    padding-top calc(204 / 664 * 100%) !important

            .img_foot
                position absolute
                z-index 1
                bottom 12px
                left 0
                padding 0px 20px

                .autor, .fecha
                    text-shadow 0px 0px 3.76989px rgba(0, 0, 0, 0.35)

                .autor
                    color white

            .content
                position absolute
                bottom 32px
                left 0
                z-index 1

                .title
                    margin 0px
                    padding 0px 15px
                    font font_20
                    color #FFFFFF
                    text-shadow 0px 0px 3.76989px rgba(0, 0, 0, 0.35)
                    // -webkit-line-clamp 2
                    &:first-letter
                        text-transform uppercase

                .preview
                    display none

    @media (min-width 1024px)
        .img_cont
            &:after
                padding-top calc(187 / 283 * 100%)

        .content
            .title
                font font_16

        &.grid-item.first
            &:after
                padding-top calc(217 / 575 * 100%) !important
            
            .content
                .title
                    font font_21
                    text-shadow 0px 0px 4px rgba(0, 0, 0, 0.35)

            .img_cont
                &:after
                    padding-top calc(217 / 575 * 100%) !important