<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="
      default-src * 'self' 'unsafe-inline' 'unsafe-eval' blob: data: gap: content:;
    ">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

    <meta name="description" content="Noticias y entretenimiento de Coahuila, México y el Mundo. La mejor manera de informarte en tiempo real. Historias, tendencias, viral, farándula, cultura, deportes, finanzas, tecnología y más.">
    <!-- <meta name="description" content="__OG_DESCRIPTION__"> -->
    <meta name="keywords" content="Noticias, México, Coahuila, Saltillo, Coronavirus">
    <link rel="canonical" href="https://rcgmedia.mx/">
    <link rel="shortlink" href="https://rcgmedia.mx/">
    <link rel="alternate" href="https://rcgmedia.mx/" hreflang="es" />
    <meta name="robots" content="all">
    <meta property="og:site_name" content="RCG MEDIA" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="__OG_URL__" />
    <meta property="og:title" content="__OG_TITLE__" />
    <meta property="og:description" content="__OG_DESCRIPTION__" />
    <meta property="og:image" content="__OG_IMAGE__" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="720" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@RCGoficial" />
    <meta name="twitter:url" content="https://rcgmedia.mx/" />
    <meta name="twitter:title" content="__OG_TITLE__" />
    <meta name="twitter:description" content="__OG_DESCRIPTION__" />

    <meta property="twitter:image" content="__OG_IMAGE__" />
    <meta property="twitter:title" content="__OG_TITLE__" />
    <meta property="twitter:description" content="__OG_DESCRIPTION__" />

    <!-- <link rel="icon" type="image/vnd.microsoft.icon" href="{$favicon_url}?{$img_update_time}" />
    <link rel="shortcut icon" type="image/x-icon" href="{$favicon_url}?{$img_update_time}" /> -->
    <link rel="preload" href="/fonts/Product-Sans-Regular.ttf" as="style" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Product-Sans-Bold.ttf" as="style" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/MaterialIcons-Regular.woff2" as="style" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Framework7Icons-Regular.woff2" as="style" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Redressed-Regular.ttf" as="style" type="font/ttf" crossorigin>

    <meta property="fb:app_id" content="693607127910625" />

    <script data-ad-client="ca-pub-9419050468962974" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <meta name="theme-color" content="#ec1b23">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">

    <title>RCG | El Gigante de Coahuila</title>
    <% if (process.env.TARGET==='web' ) { %>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon" href="static/icons/apple-touch-icon.png">
        <link rel="icon" href="/static/icons/favicon.png">
        <link rel="manifest" href="/manifest.json">
        <% } %>

            <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
            <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
</head>

<body>
    <!-- <script>
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script async defer src="https://platform.instagram.com/en_US/embeds.js"></script> -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=693607127910625&autoLogAppEvents=1" nonce="Z8ezH9YB"></script>
    <div id="app"></div>
    <% if (process.env.TARGET==='cordova' ) { %>
        <script src="cordova.js"></script>
        <% } %>

            <!-- Global site tag (gtag.js) - Google Analytics -->


            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180714259-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-180714259-1');
            </script>
            <!-- Facebook Pixel Code -->
            <script>
                ! function(f, b, e, v, n, t, s) {
                    if (f.fbq) return;
                    n = f.fbq = function() {
                        n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                    };
                    if (!f._fbq) f._fbq = n;
                    n.push = n;
                    n.loaded = !0;
                    n.version = '2.0';
                    n.queue = [];
                    t = b.createElement(e);
                    t.async = 1;
                    t.src = v;
                    s = b.getElementsByTagName(e)[0];
                    s.parentNode.insertBefore(t, s)
                }(window, document, 'script',
                    'https://connect.facebook.net/en_US/fbevents.js');
                fbq('init', '823839871704925');
                fbq('track', 'PageView');
            </script>



            <noscript><img height="1" width="1" style="display:none"
                    src="https://www.facebook.com/tr?id=823839871704925&ev=PageView&noscript=1" /></noscript>
            <script type="application/ld+json">
                {
                    "@context": "https://schema.org/",
                    "@type": "WebSite",
                    "name": "RCG MEDIA",
                    "url": "https://rcgmedia.mx",
                    "sameAs": [
                        "https://twitter.com/RCGoficial",
                        "https://www.facebook.com/rcgoficial",
                        "https://www.instagram.com/rcgoficial/"
                    ],
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "Carr. Monterrey - Saltillo 7740, Los Rodríguez.",
                        "addressLocality": "Saltillo",
                        "addressRegion": "Coahuila",
                        "postalCode": "25200",
                        "addressCountry": "MX"
                    },
                    "potentialAction": {
                        "@type": "SearchAction",
                        "target": "https://rcgmedia.mx/busqueda/{search_term_string}",
                        "query-input": "required name=search_term_string"
                    }
                }
            </script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63884347-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', 'UA-63884347-1');
            </script>
            <script async defer id="mcjs">
                ! function(c, h, i, m, p) {
                    m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
                }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/66c59de200fc45f635d07399d/e9029e0f42a821fca2fa7d512.js");
            </script>
            <!-- End Facebook Pixel Code -->

</body>

</html>